<div class="comment-section">
  <form action="/comment/create" method="POST">
    <input type="text" name="author" value="" placeholder="Your name" />
    <textarea
      name="comment"
      cols="30"
      rows="10"
      placeholder="How do you think?"
    ></textarea>
    <input type="hidden" name="riddleId" value="<%= riddle._id %>" />
    <button class="button button-blue" type="submit">Comment</button>
  </form>
  <div class="button-wrapper">
    <a href="">
      <div class="button button-blue">Take A Guess</div>
    </a>
  </div>
  <% comments.forEach( comment => {%> 
  <% if(comment.riddle_id == riddle._id){%>
  <div class="each-comment">
    <div class="vote-count"><%= comment.vote %> people think so too</div>
    <div class="author"><%= comment.author %> thinks...</div>

    <div class="comment">
      <%= comment.comment %>
    </div>
    <div class="wrap-vote">
      <form action="/comment/vote" id="agree" method="POST">
        <input type="hidden" name="id" value="<%= comment._id%>">
        <input type="hidden" name="vote" value="agree">
        <input type="hidden" name="riddle_id" value="<%= riddle._id%>">
        <div class="agree" onclick="document.getElementById('agree').submit();">
          <%- include('partials/comment/agreeSvg') -%>
          <div class="vote-text">agree</div>
        </div>
      </form>
      <form action="/comment/vote" id="disagree" method="POST">
        <input type="hidden" name="id" value="<%= comment._id%>">
        <input type="hidden" name="vote" value="disagree">
        <input type="hidden" name="riddle_id" value="<%= riddle._id%>">
        <div class="disagree" onclick="document.getElementById('disagree').submit();">
          <%- include('partials/comment/disagreeSvg') -%>
          <div class="vote-text">disagree</div>
        </div>
      </form>
    </div>
  </div>
  <% } %> <%})%>
</div>
