<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail | Riddle</title>
</head>
<body>
    <%- include('header') -%>
    <div class="riddle-detail-container">
        <h1><%= riddle.title %></h1>
        <div>Author: <%= riddle.author %></div>
        <div><%= riddle.date %></div>
        <p><%= riddle.riddle %></p>
        <form action='/like' method='POST'>
            <input type='hidden' name='riddleId' value='<%= riddle._id %>'>
            <input type='submit' name='like' value='💙'><%= riddle.like %>
        </form>
        <form action='/delete' method='POST'>
            <input type='hidden' name='riddleId' value='<%= riddle._id %>'>
            <input type='submit' name='delete' value='delete'>
        </form>
    </div>

</body>
</html>