<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/home.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i|Roboto+Mono:100,100i&display=swap" rel="stylesheet">
  <title>Home | Riddle</title>
</head>
<body>
  <%- include ('partials/nav') %>
  <div class="filter_container">
    <form action="/" method="GET" >
      <div class="filter_arrow">
        <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.09059 9.54501L0.65171 1.78703C0.419407 1.45567 0.656447 1 1.06112 1L11.9389 1C12.3436 1 12.5806 1.45567 12.3483 1.78703L6.90941 9.54501C6.71033 9.82898 6.28967 9.82898 6.09059 9.54501Z" stroke="#46FFA6"/>
        </svg>
      </div>
      <select name="filter" onchange="this.form.submit()">
        <option <%= filter === "latest"? 'selected' : ''%> value="latest">Latest</option>
        <option <%= filter === "oldest"? 'selected' : ''%> value="oldest">Oldest</option>
        <option <%= filter === "likes"? 'selected' : ''%> value="likes">Likes</option> 
      </select>
    </form>
  </div>
  <main class="home_mainContainer">
    <% riddles.forEach( riddle => {%>
      <a href="/riddles/<%= riddle._id%>" class="home_card_container">
        <div class="card_top">
          <div class="card_top_left">
            <h1 class="card_title"><%= riddle.title%></h1>
            <h3 class="card_author">– <%= riddle.author%></h3>
          </div>
          <div class="card_top_right">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.7226 4.41603L12 4.60093L12.2774 4.41603L17.9667 0.623115L23.5 5.23419V11.7658L12 21.3491L0.5 11.7658V5.23419L6.03329 0.623116L11.7226 4.41603Z" stroke="#46FFA6"/>
            </svg>
            <h2 class="card_like"><%= riddle.like%></h2>
          </div>
        </div>
        <div class="card_btm">
          <p class="card_content"><%= riddle.riddle%></p>
          <div class="card_content_mask"></div>
        </div>
      </a>
    <%})%>
  </main>
</body>
</html>
