<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css">
    <title>Home | Riddle</title>
  </head>
  <body>
    <%- include ('partials/nav') %>
    
    
    <a href="/create">create a Note</a>
    <ul>
      <% riddles.map(riddle => { %>
      <li><a href="/riddles/<%= riddle._id %>"> <%= riddle.author %> </a></li>

      <a href="/riddles/<%= riddle._id %>?edit=true"
        ><button>EDIT</button></a
      >

      <form action="/detail" method="POST">
        <input type="hidden" nasme="riddleId" value="<%=riddle._id %>" />
        <button type="submit">DELETE</button>
      </form>
      <% }) %>
    </ul>
  </body>
</html>
